<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Wednesday, September 22</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>8:30 am</td>        <!-- time    -->
        <td>Instructor will be available to answer questions</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:00 am</td>        <!-- time    -->
        <td>Data cleaning with OpenRefine</td>  
        <!-- content -->
      </tr>
      <tr>
        <td>12:00 pm</td>
        <td>Workshop End</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Wednesday, September 23</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8:30 am</td>        <!-- time    -->
        <td>Instructor will be available to answer questions</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 am</td>        <!-- time    -->
        <td>Introduction to R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00 pm</td>        <!-- time    -->
        <td>Workshop end</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Friday, September 24</h3>
    <table class="table table-striped">
      <tr>     <!-- row 1   -->
        <td>8:30 am</td>        <!-- time    -->
        <td>Instructor available to answer questions</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 am</td>        <!-- time    -->
        <td>Starting with Data in R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00  pm</td>        <!-- time    -->
        <td>Workshop end</td>        <!-- content -->
      </tr>
      <tr>
         <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
